extends /layout

block content
    button(class="btn btn-primary" onclick="location.href='/connections/new'") Add
    table.table
            thead
                tr
                    th Type 
                    th Name
                    th Actions
            tbody 
                tr
                    for connection in connections
                        td #{connection.name}
                        td #{connection.host}
                        td.icons
                            +delete-icon(1)
                            +edit-icon(1)