extends /layout
include /icons/edit-icon
include /icons/delete-icon

block content
    button(class="btn btn-primary" onclick="location.href='/imports/new'") Add
    table.table
            thead
                tr
                    th Origin 
                    th Target
                    th Start Time
                    th End Time
                    th Actions
            tbody 
                tr
                    for i in imports
                        td #{i.originConnection.name}
                        td #{i.targetConnection.name}
                        td #{i.start.toLocaleString()}
                        td #{i.end ? i.end.toLocaleString() : ""}
                        td.icons
                            +delete-icon(1)
                            +edit-icon(1)