block navbar 
    #navbar.d-flex.flex-column.flex-shrink-o.p-3.bg-light
        ul(class="nav nav-pills flex-column mb-auto")
            li(class="nav-item")
                a(href="/connections" class="nav-link active") Connectors
                a(href="/syncs" class="nav-link") Syncs
                a(href="/imports" class="nav-link") Imports
    //- .divider