include /icons/edit-icon
include /icons/delete-icon

button(class="btn btn-primary" onclick="location.href='/connections/new'") Add
table.table
        thead
            tr
                th Type 
                th Name
                th Actions
        tbody 
            for connection in connections
                tr
                    td #{connection.type}
                    td #{connection.name}
                    td.icons
                        +delete-icon(1)
                        +edit-icon(1)