extends /layout

block content
    script.
        $(document).ready(function()
            {$('#type').change(function() {
                if ($(this).val() == "es") {
                    $('#port').val(9200)
                }
                if ($(this).val() == "postgres") {
                    $('#port').val(5432)
                }})  
            }
        )
    h1 New Connection
    form(action="/api/connection" method="POST" class="mb-3 needs-validation")
        .mb-3
            label(for="type") Connection Type
            select(class="form-select" id="type" name="type" required)
                //- option(value="mysql") MySQL 
                option(value="") Choose type
                option(value="postgres") Postgres 
                option(value="es") Elasticsearch 
        .mb-3
            label(for="name") Connection Name
            input(type="text" id="name" name="name" class="form-control" required)
        .mb-3
            label(for="host") Host
            input(type="text" id="host" name="host" class="form-control" required)
        .mb-3
            label(for="port") Port
            input(type="number" id="port" name="port" class="form-control" required)
        .buttons
            button(type="button" class="btn btn-outline-secondary") Test connection
            button(type="submit" class="btn btn-primary") Save
