include /icons/edit-icon
include /icons/delete-icon

button Add
table.table
        thead
            tr
                th Type 
                th Name
                th Actions
        tbody 
            tr
                td MySQL 
                td My MySQL connector
                td.icons
                    +delete-icon(1)
                    +edit-icon(1)